{% extends "base.html" %}
 

{% block title %}Home{% endblock %}

{% block main%}

    
    
    <section class="ficha">

        {% for product in products %}

            <section class="section2">
                <article>
                    <h2>{{ product.name }}</h2>
                    <div>
                        <span>$</span>
                        <span>{{ product.price }}</span>
                        <span>COP</span>

                    </div>
                    
                    <h2>{{ categories }}</h2>
                    <img class= "image" src="{{ product.image }}" alt="Imagen">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <a href="/cart/add/{{ product.id }}">Add to cart</a>
                    
                    
                                
                </article>

            </section>

        
            
                       
        {% endfor %}

    </section>
    
      
    {% endblock %}
    
    
