body{
    margin: 0;
    padding: 0;
    background: white;
    position: relative;
    padding-bottom: 1em;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: 'Arvo', serif;
    font-family: 'Poppins', sans-serif;
   
}

h1{
    font-size: 100px;
}

.navbar{
    background-color: rgb(42, 157, 143);
    padding: 2rem;
    position: absolute;
    float:none;
    text-align: center;
    display: inline-block;
    font-family: 'Arvo', serif;
    font-family: 'Poppins', sans-serif;

}

.links{
    display: flex;
    list-style: none;
    margin: 2rem;
    padding: 2rem;


}
.link{
    text-decoration: none;
    color: black;
    margin-right: 1rem;


}

.footer{
    background-color:rgb(38, 70, 83);
    padding: 1em 0;
    text-align: center;
    color:antiquewhite;
    text-size-adjust:inherit;
   
    
    
}
.auth-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    
    background: white;
    margin: 30px auto;
    padding: 30px 0;
    min-height: 100vh;
}
.field{
    width: 50%;
    padding: 7px;
    margin: 10px auto;
    border-radius: 5px;
    border:rgb(38, 70, 83) 2px solid;
}
.button{
    width: 50%;
    list-style: none;
    margin-right: auto;
    margin-left: auto;
    padding: 7px;
    border-radius: 5px;
    border: grey 2px solid;
    background-color:rgb(238, 238, 129);
}
.ficha{
    background-color:white;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 4em;
    padding: 2em;
    margin-right: 8em;
    
}


.image{
    width: 300px;
    height: 300px;
    
}
.section2{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
    border-radius: 30px;
    color:rgb(38, 70, 83);
    text-align: center;
    
}
.section2:hover{
    transform: scale(1.1);
    

}
