<!DOCTYPE html>
<html lang="en">

    <head>
        <style>
            .publicaciones{
                text-align:right;
            }
        </style>
        <title>Dafonte Regalos</title>

        <meta charset="UTF-8">
        <!--copiado-->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/assets/font-awesome/css/font-awesome.min.css">		
		<link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
		<link rel="stylesheet" href="static/assets/css/magnific-popup.css">
		<link rel="stylesheet" type="text/css" href="static/assets/css/main.css">
        <!--copiado-->
    </head>
<body>

    <section class="head" id="header">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-30">
                        <header class="header">
                            <div class="inner">
                                <a href="/" class="logo">
                                    <span class="symbol"><img src="static/images/logot.png" alt="Title" /></span><span class="title">Dafonte Detalles</span>
                                </a>
                            </div>
                            <div class="publicaciones">
                                <a href="/posts" class="btn btn-info">Ir a publicaciones</a>
                                <a href="/auth/login" class="btn btn-success">Iniciar sesión</a>
                                <a href="/auth/signup/" class="btn btn-danger">Registrarse</a>

                               
                            </div>
                        </header>                    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--copiado-->
    <section class="main-body">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <p class="drescription">¡¡Tienda de regalos para las ocasiones más especiales!! <span class="orange">Las grandes ideas, tienen pequeños comienzos</span> </p>
                </div>
            </div>
            <div class="tiles">
                <div class="row">
                    <div class="col-md-6">
                        <div class="a">
                            <a href="#test-popup-1" class="open-popup-link">
                                <img src="static/images/1.jpg" class="img-responsive" alt="Responsive image">
                                <div class="img-hover glass">
                                    <div class="c-table">
                                        <div class="ct-cell">
                                            <h3 class="img-title">Variedad</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="test-popup-1" class="white-popup mfp-hide">
                              <div class="container-fluid">
                                <div class="row">
                                    <div class="pop-up-color">
                                        <div class="col-md-8 p-l-0 p-r-0">
                                            <img src="static/images/1.jpg" class="img-responsive" alt="Responsive image">
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <h2 class="popup-head">Glass</h2>
                                            </div>
                                            <div>
                                                <p class="popup-parapraph">Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit a amet nisi is a euismod sed cursus arcu elementum and ipsum arcu vivamus is quis venenatis orci and nullam dolore. Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod still amet nisi aliqua.Eas Lorem ipsum dolor sit amet.</p>
                                            </div>
                                            <div class="pop-up-icon">
                                                <div class="row">
                                                    <ul class="text-center popup-social-contact">
                                                        <li class="popup-social-icons">
                                                        <a href="#" class="icon pop-up fa-facebook"><span class="label">Facebook</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-twitter"><span class="label">Twitter</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-google-plus"><span class="label">GooglePlus</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-pinterest"><span class="label">pinterest</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="a">
                            <a href="#test-popup-2" class="open-popup-link">
                                <img src="static/images/2.jpg" class="img-responsive" alt="Responsive image">
                                <div class="img-hover shoes-glass">
                                    <div class="c-table">
                                        <div class="ct-cell">
                                            <h3 class="img-title">DISEÑOS EXCLUSIVOS</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="test-popup-2" class="white-popup mfp-hide">
                              <div class="container-fluid">
                                <div class="row">
                                    <div class="pop-up-color">
                                        <div class="col-md-8 p-l-0 p-r-0">
                                            <img src="static/images/2.jpg" class="img-responsive" alt="Responsive image">
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <h2 class="popup-head">SHOES & GLASS</h2>
                                            </div>
                                            <div>
                                                <p class="popup-parapraph">Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit a amet nisi is a euismod sed cursus arcu elementum and ipsum arcu vivamus is quis venenatis orci and nullam dolore. Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod still amet nisi aliqua.Eas Lorem ipsum dolor sit amet.</p>
                                            </div>
                                            <div class="pop-up-icon">
                                                <div class="row">
                                                    <ul class="text-center popup-social-contact">
                                                        <li class="popup-social-icons">
                                                        <a href="#" class="icon pop-up fa-facebook"><span class="label">Facebook</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-twitter"><span class="label">Twitter</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-google-plus"><span class="label">GooglePlus</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-pinterest"><span class="label">pinterest</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="a">
                            <a href="#test-popup-3" class="open-popup-link">
                                <img src="static/images/3.jpg" class="img-responsive" alt="Responsive image">
                                <div class="img-hover hand-parts">
                                    <div class="c-table">
                                        <div class="ct-cell">
                                            <h3 class="img-title">DÍA DE LA MADRE</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="test-popup-3" class="white-popup mfp-hide">
                              <div class="container-fluid">
                                <div class="row">
                                    <div class="pop-up-color">
                                        <div class="col-md-8 p-l-0 p-r-0">
                                            <img src="static/images/3.jpg" class="img-responsive" alt="Responsive image">
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <h2 class="popup-head">Día de la madre</h2>
                                            </div>
                                            <div>
                                                <p class="popup-parapraph">Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit a amet nisi is a euismod sed cursus arcu elementum and ipsum arcu vivamus is quis venenatis orci and nullam dolore. Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod still amet nisi aliqua.Eas Lorem ipsum dolor sit amet.</p>
                                            </div>
                                            <div class="pop-up-icon">
                                                <div class="row">
                                                    <ul class="text-center popup-social-contact">
                                                        <li class="popup-social-icons">
                                                        <a href="#" class="icon pop-up fa-facebook"><span class="label">Facebook</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-twitter"><span class="label">Twitter</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-google-plus"><span class="label">GooglePlus</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-pinterest"><span class="label">pinterest</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="a">
                            <a href="#test-popup-4" class="open-popup-link">
                                <img src="static/images/4.jpg" class="img-responsive" alt="Responsive image">
                                <div class="img-hover table-with-phone">
                                    <div class="c-table">
                                        <div class="ct-cell">
                                            <h3 class="img-title">DÍA DEL PADRE</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="test-popup-4" class="white-popup mfp-hide">
                              <div class="container-fluid">
                                <div class="row">
                                    <div class="pop-up-color">
                                        <div class="col-md-8 p-l-0 p-r-0">
                                            <img src="static/images/4.jpg" class="img-responsive" alt="Responsive image">
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <h2 class="popup-head">Día del Padre</h2>
                                            </div>
                                            <div>
                                                <p class="popup-parapraph">Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit a amet nisi is a euismod sed cursus arcu elementum and ipsum arcu vivamus is quis venenatis orci and nullam dolore. Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod still amet nisi aliqua.Eas Lorem ipsum dolor sit amet.</p>
                                            </div>
                                            <div class="pop-up-icon">
                                                <div class="row">
                                                    <ul class="text-center popup-social-contact">
                                                        <li class="popup-social-icons">
                                                        <a href="#" class="icon pop-up fa-facebook"><span class="label">Facebook</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-twitter"><span class="label">Twitter</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-google-plus"><span class="label">GooglePlus</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-pinterest"><span class="label">pinterest</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="a">
                            <a href="#test-popup-5" class="open-popup-link">
                                <img src="static/images/5.jpg" class="img-responsive" alt="Responsive image">
                                <div class="img-hover orange-shoe">
                                    <div class="c-table">
                                        <div class="ct-cell">
                                            <h3 class="img-title">DÍA DE LA FAMILIA</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="test-popup-5" class="white-popup mfp-hide">
                              <div class="container-fluid">
                                <div class="row">
                                    <div class="pop-up-color">
                                        <div class="col-md-8 p-l-0 p-r-0">
                                            <img src="static/images/5.jpg" class="img-responsive" alt="Responsive image">
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <h2 class="popup-head">Día de la Familia</h2>
                                            </div>
                                            <div>
                                                <p class="popup-parapraph">Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit a amet nisi is a euismod sed cursus arcu elementum and ipsum arcu vivamus is quis venenatis orci and nullam dolore. Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod still amet nisi aliqua.Eas Lorem ipsum dolor sit amet.</p>
                                            </div>
                                            <div class="pop-up-icon">
                                                <div class="row">
                                                    <ul class="text-center popup-social-contact">
                                                        <li class="popup-social-icons">
                                                        <a href="#" class="icon pop-up fa-facebook"><span class="label">Facebook</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-twitter"><span class="label">Twitter</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-google-plus"><span class="label">GooglePlus</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-pinterest"><span class="label">pinterest</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="a">
                            <a href="#test-popup-6" class="open-popup-link">
                                <img src="static/images/6.jpg" class="img-responsive" alt="Responsive image">
                                <div class="img-hover glass-shoes">
                                    <div class="c-table">
                                        <div class="ct-cell">
                                            <h3 class="img-title">AMOR Y AMISTAD</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="test-popup-6" class="white-popup mfp-hide">
                              <div class="container-fluid">
                                <div class="row">
                                    <div class="pop-up-color">
                                        <div class="col-md-8 p-l-0 p-r-0">
                                            <img src="static/images/6.jpg" class="img-responsive" alt="Responsive image">
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <h2 class="popup-head">AMOR Y AMISTAD</h2>
                                            </div>
                                            <div>
                                                <p class="popup-parapraph">Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit a amet nisi is a euismod sed cursus arcu elementum and ipsum arcu vivamus is quis venenatis orci and nullam dolore. Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod still amet nisi aliqua.Eas Lorem ipsum dolor sit amet.</p>
                                            </div>
                                            <div class="pop-up-icon">
                                                <div class="row">
                                                    <ul class="text-center popup-social-contact">
                                                        <li class="popup-social-icons">
                                                        <a href="#" class="icon pop-up fa-facebook"><span class="label">Facebook</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-twitter"><span class="label">Twitter</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-google-plus"><span class="label">GooglePlus</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-pinterest"><span class="label">pinterest</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="a">
                            <a href="#test-popup-7" class="open-popup-link">
                                <img src="static/images/7.jpg" class="img-responsive" alt="Responsive image">
                                <div class="img-hover girls-tops">
                                    <div class="c-table">
                                        <div class="ct-cell">
                                            <h3 class="img-title">DÍA DE LA TIERRA</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="test-popup-7" class="white-popup mfp-hide">
                              <div class="container-fluid">
                                <div class="row">
                                    <div class="pop-up-color">
                                        <div class="col-md-8 p-l-0 p-r-0">
                                            <img src="static/images/7.jpg" class="img-responsive" alt="Responsive image">
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <h2 class="popup-head">Día de la tierra</h2>
                                            </div>
                                            <div>
                                                <p class="popup-parapraph">Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit a amet nisi is a euismod sed cursus arcu elementum and ipsum arcu vivamus is quis venenatis orci and nullam dolore. Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod still amet nisi aliqua.Eas Lorem ipsum dolor sit amet.</p>
                                            </div>
                                            <div class="pop-up-icon">
                                                <div class="row">
                                                    <ul class="text-center popup-social-contact">
                                                        <li class="popup-social-icons">
                                                        <a href="#" class="icon pop-up fa-facebook"><span class="label">Facebook</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-twitter"><span class="label">Twitter</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-google-plus"><span class="label">GooglePlus</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-pinterest"><span class="label">pinterest</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="a">
                            <a href="#test-popup-8" class="open-popup-link">
                                <img src="static/images/8.jpg" class="img-responsive" alt="Responsive image">
                                <div class="img-hover egg-arts">
                                    <div class="c-table">
                                        <div class="ct-cell">
                                            <h3 class="img-title">ESTAMPADOS</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="test-popup-8" class="white-popup mfp-hide">
                              <div class="container-fluid">
                                <div class="row">
                                    <div class="pop-up-color">
                                        <div class="col-md-8 p-l-0 p-r-0">
                                            <img src="static/images/8.jpg" class="img-responsive" alt="Responsive image">
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <h2 class="popup-head">Estampados</h2>
                                            </div>
                                            <div>
                                                <p class="popup-parapraph">Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit a amet nisi is a euismod sed cursus arcu elementum and ipsum arcu vivamus is quis venenatis orci and nullam dolore. Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod still amet nisi aliqua.Eas Lorem ipsum dolor sit amet.</p>
                                            </div>
                                            <div class="pop-up-icon">
                                                <div class="row">
                                                    <ul class="text-center popup-social-contact">
                                                        <li class="popup-social-icons">
                                                        <a href="#" class="icon pop-up fa-facebook"><span class="label">Facebook</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-twitter"><span class="label">Twitter</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-google-plus"><span class="label">GooglePlus</span></a>
                                                        </li>
                                                        <li class="popup-social-icons">
                                                            <a href="#" class="icon pop-up fa-pinterest"><span class="label">pinterest</span></a>
                                                        </li>
                                                    </ul>														
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>COMÉNTANOS</h1>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control gt" name="name" id="name" placeholder="Name"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control gt" name="email" id="email" placeholder="Email" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="from-group">
                                        <textarea class="form-control gt" rows="2" name="message" id="message" placeholder="Message..."></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="form-group"  align="right">
                            <div class="col-sm-offset-4 col-sm-20">
                              <a href="#" type="submit" class="btn btn-tobais btn-send-2">Enviar</a>
                            </div>
                        </div>
                    </div>
                <div class="col-md-4">
                    <h1>INFO CONTACTO</h1>
                        <p class="contact-desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptatum necessi tatibus.
                        </p>
                        <p><Strong>Address: </Strong> Victoria Norte, Bogotá, Colombia</p>
                        <p><Strong>Call:</Strong> 444 123 025 12</p>						
                        <p><Strong>Fax: </Strong>444 123 025 12</p>						
                        <p><Strong>Email: </Strong>dafontedetalles@gmail.com</p>						
                </div>
            </div>				
        </div>
    </section>
    <section class="social-contact-icon">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <ul class="text-center social-contact">
                        <li class="social-icons">
                        <a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a>
                        </li>
                        <li class="social-icons">
                            <a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a>
                        </li>
                        <li class="social-icons">
                            <a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a>
                        </li> 
                    </ul>							
                </div>
            </div>
        </div>
    </section>
    <!--copiado-->
    <section class="footer">		
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-xs-9">
                        <p class="right-color">&copy; Copyright 2016. All rights reserved by <a href="https://themewagon.com/" target="_blank">ThemeWagon</a></p>
                    </div>
                    <div class="col-sm-4 col-xs-3" align="right">
                        <a href="#" id="back-to-top" class="top text-right" >TOP <i class="fa fa-angle-up" aria-hidden="true"></i> </a>
                    </div>
                </div>
            </div>											
        </footer>
    </section>
    
</body>
</html>